.sidebar {
  padding: 0 !important;

  ul {
    height: 100vh;
    background-color: rgb(238, 250, 252);
    padding: 0 !important;
    text-align: left;
    li {
      .nav-link {
        padding: 0.5rem 2rem;
      }

      a {
        color: #494949 !important;
      }

      &:hover,
      &:active,
      &:focus {
        background-color: rgb(197, 244, 252);
      }
    }

    .name {
      padding: 20px;
    }
  }
}
